# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Environments
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data/Model artifacts
*.pkl
*.pickle
*.h5

# IDE
.idea/
.vscode/
